<!DOCTYPE html>
<html layout:decorator="frontend/layout/default_layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="p-5 bg-light" layout:fragment="content">
        <div class="container">
            <h1 class="display-3">New Year Cake Festival</h1>
            <p class="lead">December 24 - 31, 2021</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">
                    Learn more
                </a>
            </p>
        </div>
    </div>
</body>
</html>